@charset "UTF-8"

/* universal styles */
html {
  font-size: 18px;
  margin-left: 0.4rem;
}

body {
  background: url(../images/web_dev3_resize.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: black;
  color: rgba(255, 99, 71, 1);
}



 .main-nav ul {
   list-style-type: none;
 }

 ul {
   list-style-type: square;
 }

 a:active {
   position: relative;
   top: 3px;
   right: 3px;
 }

 a {
   color: rgba(255, 99, 71, 0.6);
   text-decoration: none;
 }

  /* main-nav styles */
 .main-nav {
 background-color: rgba(0,0,255,0.6);
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  width: 65%;
}

.name {
  font-style: Courier, monospace;
  font-size: 3rem;
}


.name:hover {
  color: #3882ff;
  transform: scale(1.5) rotate(15deg);
}

/* header */
.profile-image {
  border: solid black 3px;
  border-radius: 50%;
  size: 4rem;
}

.profile-image:active {
  position: relative;
  top: 6px;
  right: 6px;
}








/*footer */
.copyright {
  text-align: center;
}
