@charset "UTF-8";

/* universal styles */
html {
  font-size: 18px;
}

body {
  background: rgba(170,170,170,0.2);
  margin: 0.6rem 0.6rem auto 0.6rem;
  background: url(../../resources/images/responsive.png);
}
 @media screen and (min-width: 240px) {


/* header */
header {
  text-align: center;
  text-decoration: underline;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
}



header h1 {
  background: rgba(0,0,255,0.4);
  font-family: fantasy;
  letter-spacing: 2.7rem;
}

.container-left {
  width: 12.5rem;
  float: left;
  border: solid black 5px;
  border-radius: 12px;
  background: rgba(204,0,0,0.2);
  margin-left: 3rem;
  margin-top: -18.89rem;
  height: 20rem;
}

.container-left p {
  padding: 0.2rem 1.5rem 1rem 1.5rem;
}

.container-left h3 {
  text-align: center;
}


.container-right {
  width: 12.5rem;
  height: 20rem;
  float: right;
  border: solid black 5px;
  border-radius: 12px;
  background: rgba(51,102,255,0.2);
  margin-right: 3rem;
  margin-top: -18.89rem;
}


.container-right p {
  padding: 1rem 1rem 1rem 1rem;
}

span {
  text-decoration: underline;
  color: blue;
}

span:active {
  position: relative;
  top: 4px;
  left: 4px;
}

} /*end media query*/
